.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.6);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}

.popup {
    z-index: 2;
    width: 28vw;
    height: 75vh;
    background-color: #242526;
    border-radius: 10px;
    position: relative;
    color: white;
}

.popup-header {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 0.5px solid #74746f;
}

.cross-btn {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.popup-info {
    width: 95%;
    height: 5vh;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 0.5vh;
}

.popup-info img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.popup-body-caption {
    width: 95%;
    margin: auto;
}



.popup-body-caption input {
    width: 100%;
    background-color: inherit;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 1vh;
    color: white;
}

.popup-body-caption input[type="text"]::placeholder {
    font-size: 15px;
}

.popup-body-imgUpload {
    width: 100%;
    height: 53.5vh;
    display: grid;
    place-items: center;
    position: relative;
}

.popup-body-imgUpload label{
    cursor: pointer;
}

.popup-body-imgUpload img{
    width: 100%;
    height: 53.5vh;
    object-fit: cover;
}

.popup-body-imgUpload  .cross-btn {
    top: 5px;
}

.popup-footer {
    width: 100%;
    height: 6vh;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0;
}

.popup-footer button {
    width: 95%;
    height: 4vh;
    background-color: #0e83e2;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {

    .popup {
        width: 100%;
        height: 100%;
        background-color: black;
        
    }

    .popup-header {
        width: 100%;
        height: 7vh;
    }

    .popup-info {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .popup-body-imgUpload {
        margin-top: 5vh;
    }


    .popup-footer {
        height: 10vh;
    }

    .popup-footer button {
        width: 96%;
        height: 70%;
    }
}