.home_contents{
    width: 70%;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.timeline_content{
    width: 75%;
    height: 100%;
}

.timeline_upload{
    width: 68%;
    height: 5.5vh;
    padding: 5px;
    margin: auto;
    margin-bottom: 2vh;
    display: flex;
    justify-content: start;
    align-items: center; 
    font-size: 13px;
}

.timeline_upload_input{
    width: 90%;
    height: 3.8vh;
    line-height: 3.5vh;
    border-radius: 18px;
    cursor: pointer;
    padding-left: 10px;
    color: gray;
    border: 1px solid gray;
    transition: 300ms ease;
}

.timeline_upload_input:hover{
    color: lightgray;
    border-color: lightgray;
}

.timeline_upload img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.timeline_card{
    width: 68%;
    margin: auto;
    padding: 5px;
    margin-bottom: 1rem;
 
}

.timeline_pic{
    width: 100%;
    margin-top: 0.8rem;
}

.timeline_pic img{
    width: 100%;
    object-fit: cover;
}

.timeline_actions{
    width: 100%;
    margin-top: 0.3rem;
    font-size: 26px;
    padding: 0 4px;
    display: flex;
    justify-content: space-between;
}

.timeline_actions span{
   margin-right: 10px;
}

.timeline_actions span:last-child{
    margin-right: 0;
    font-size: 25px;
}

.timeline_details{
    padding: 0 4px;
}

.timeline_comments{
    font-size: smaller;
    color: lightgray;
}

.suggestion_content{
    font-weight: 500;
    width: 25%;
}

.suggestion_content h4{
    margin: 1.2rem 0;
}

/* for cards */
.universal_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding-right: 0.5rem;
}

.universal_image{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

.universal_image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.universal_info{
    display: flex;
    align-items: center;
}

.universal_text{
    font-size: small;
}

.timeline_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media only screen and (min-width: 320px) and (max-width: 767px) {
    .suggestion_content{
        display: none;
    }

    .home_contents{
        width: 100%;
    }

    .timeline_content{
        width: 100%;
    }

    .timeline_card{
        width: 100%;
        padding: 0;
        height: fit-content;
    }

    .timeline_pic{
        height: 100vw;
    }

    .timeline_upload{
        width: 100%;
        padding: 0;
        padding-right: 8px;
        margin-bottom: 1.5rem;
    }

    .timeline_upload img{
        margin-right: 0.7rem;
    }

    .timeline_upload_input{
        height: 5vh;
        border-radius: 20px;
        line-height: 4.7vh;
    }
}